@import "./src/assets/styles/variebles.scss";
@import "./src/assets/styles/mixins.scss";

.buttonFilter {
  @include flexBox(row, center, center, nowrap);
  background-color: transparent;
  border: none;
  width: 26px;
  height: 26px;
  cursor: pointer;

  @media only screen and (max-width: 650px) {
    width: 39px;
    height: 39px;
  }

  .filterImg {
    width: 26px;
    height: 26px;

    @media only screen and (max-width: 650px) {
      width: 39px;
      height: 39px;
    }
  }

  .defaultFilterImg {
    width: 20px;
    height: 20px;

    @media only screen and (max-width: 650px) {
      width: 26px;
      height: 26px;
    }
  }
}

.disabledButtonFilter {
  cursor: default;
  opacity: 65%;
}