@import "./src/assets/styles/variebles.scss";
@import "./src/assets/styles/mixins.scss";

.infoBlock {
  @include flexBox(row, center, center, nowrap);
  width: 100%;
  min-height: calc(100vh - 118px);

  .infoContainer {
    @include flexBox(column, center, flex-start, nowrap);
    width: 70%;

    .infoTitle {
      @include text(sans-serif, 36px, 500, $primaryColor);
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
      margin: 15px 0;
    }

    .infoText {
      @include text(sans-serif, 14px, 500, $greyTextColor);
      line-height: 1.71;
      margin: 0 0 30px 0;
    }
  }
}