@import "./src/assets/styles/variebles.scss";
@import "./src/assets/styles/mixins.scss";

.editAndAddJogBlock {
  @include flexBox(row, center, center, nowrap);
  width: 100%;
  min-height: calc(100vh - 118px);

  .editAndAddJogContainer {
    @include flexBox(row, center, center, nowrap);
    width: 70%;

    .editAndAddJogForm {
      @include flexBox(column, center, center, nowrap);
      position: relative;
      width: 500px;
      height: 380px;
      background-color: $primaryColor;
      border-radius: 44px;

      @media only screen and (max-width: 650px) {
        width: 305px;
        height: 380px;
      }

      .divContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 25px;
        margin: 45px 0 0 0;

        @media only screen and (max-width: 650px) {
          grid-gap: 10px;
          margin-bottom: 31px;
        }

        .divItem {
          @include flexBox(row, space-between, center, nowrap);
          width: 320px;

          @media only screen and (max-width: 650px) {
            @include flexBox(column, center, center, nowrap);
          }

          .editAndAddJogHelpText {
            @include text(sans-serif, 16px, 500, $blackTextColor);

            @media only screen and (max-width: 650px) {
              @include flexBox(row, flex-start, center, nowrap);
              width: 236px;
              height: 31px;
              font-size: 13px;
            }
          }

          .editAndAddJogInput {
            @include inputAndTextArea(236px, 31px, 16px, $blackTextColor, solid 1px $greyTextColor);
            border-radius: 7px;
          }

          .errorEditAndAddJogInput {
            border: 3px solid $redErrorColor;
          }
        }
      }

      .saveButton {
        @include flexBox(row, center, center, nowrap);
        @include button(320px, 42px, transparent, solid 2px $whiteTextColor);
        border-radius: 25.2px;
        @include text(sans-serif, 12.6px, 500, $whiteTextColor);
        font-weight: bold;
        text-align: center;
        padding: 14px 125px 13px 125px;
        margin: 45px 25px 0 25px;

        @media only screen and (max-width: 650px) {
          width: 235px;
          height: 42px;
          text-align: center;
          margin: 10px 35px 25px 35px;
        }
      }

      .cancelButton {
        position: absolute;
        top: 25px;
        right: 25px;
      }
    }
  }
}