@import "./src/assets/styles/variebles.scss";
@import "./src/assets/styles/mixins.scss";

.headerNavContainer {
  @include flexBox(row, space-between, center, nowrap);
  width: 350px;

  .headerNavItem {
    @include text(sans-serif, 14px, 500, $whiteTextColor);
    height: 16px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
  }
}