@import "./src/assets/styles/variebles.scss";
@import "./src/assets/styles/mixins.scss";

.loginBlock {
  @include flexBox(row, center, center, nowrap);
  width: 100%;
  min-height: calc(100vh - 118px);

  .loginContainer {
    @include flexBox(row, center, center, nowrap);
    width: 70%;

    .loginForm {
      @include flexBox(column, center, center, nowrap);
      width: 503px;
      height: 379px;
      background-color: $secondColor;
      border-radius: 44px;

      @media only screen and (max-width: 650px) {
        background-color: transparent;
      }

      .loginImgContainer {
        width: 160px;
        height: 150px;
        margin: 0 25px;

        .loginImg {
          width: 160px;
          height: 150px;
        }
      }

      .loginButtonContainer {
        @include flexBox(row, center, center, nowrap);
        margin: 56px 0 0 0;

        .loginButton {
          @include button(150px, 60px, transparent, solid 3px $whiteTextColor);
          border-radius: 36px;
          @include text(sans-serif, 18px, 500, $whiteTextColor);
          font-weight: bold;
          text-align: center;

          @media only screen and (max-width: 650px) {
            border: solid 3px $secondColor;
            color: $secondColor;
          }
        }
      }
    }
  }
}