$whiteTextColor: #F8F9FE;
$blackTextColor: #111111;
$greyTextColor: #747474;
$primaryColor: #7ED321;
$secondColor: #E990F9;
$redErrorColor: #E75C5C;
$brightRedErrorColor: #D92121;
$fontFamilyStyle: 'Mukta', sans-serif;